{% extends 'base.html' %}

{% block header %}
  <h1 class="title is-1">Password Change</h1>
{% endblock %}

{% block content %} 
  {% if messages %}
    {% for message in messages %}
        <div class="{{message.extra_tags}}">{{message}}</div>
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="block">
        <label for="{{field.auto_id}}" class="label">{{field.label}}</label>
        <input type="{{field.widget_type}}" class="input" name="{{field.name}}" id="{{field.auto_id}}">
        <small>{{field.error}}</small>
      </div>
    {% endfor %}
    <div class="block"><input type="submit" value="Send" class="button is-medium is-light"></div>
  </form>
{% endblock content %}